@font-face {
  font-family: 'sourcesansproregular';
  src: url("./fonts/sourcesanspro/sourcesanspro-regular.eot");
  src: url("./fonts/sourcesanspro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/sourcesanspro/sourcesanspro-regular.woff2") format("woff2"), url("./fonts/sourcesanspro/sourcesanspro-regular.woff") format("woff"), url("./fonts/sourcesanspro/sourcesanspro-regular.ttf") format("truetype"), url("./fonts/sourcesanspro/sourcesanspro-regular.svg#sourcesansproregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sourcesansprobold';
  src: url("./fonts/sourcesanspro/sourcesanspro-bold.eot");
  src: url("./fonts/sourcesanspro/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/sourcesanspro/sourcesanspro-bold.woff2") format("woff2"), url("./fonts/sourcesanspro/sourcesanspro-bold.woff") format("woff"), url("./fonts/sourcesanspro/sourcesanspro-bold.ttf") format("truetype"), url("./fonts/sourcesanspro/sourcesanspro-bold.svg#sourcesansprobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedregular';
  src: url("./fonts/andescondensed/andes-condensed-regular.eot");
  src: url("./fonts/andescondensed/andes-condensed-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-regular.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-regular.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-regular.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-regular.svg#andescondensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedbold';
  src: url("./fonts/andescondensed/andes-condensed-bold.eot");
  src: url("./fonts/andescondensed/andes-condensed-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-bold.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-bold.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-bold.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-bold.svg#andescondensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondenseditalic';
  src: url("./fonts/andescondensed/andes-condensed-regular_italic.eot");
  src: url("./fonts/andescondensed/andes-condensed-regular_italic.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-regular_italic.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-regular_italic.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-regular_italic.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-regular_italic.svg#andescondenseditalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedlight';
  src: url("./fonts/andescondensed/andes-condensed-light.eot");
  src: url("./fonts/andescondensed/andes-condensed-light.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-light.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-light.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-light.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-light.svg#andescondensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedLtIt';
  src: url("./fonts/andescondensed/andes-condensed-light_italic.eot");
  src: url("./fonts/andescondensed/andes-condensed-light_italic.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-light_italic.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-light_italic.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-light_italic.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-light_italic.svg#andescondensedLtIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedextrabold';
  src: url("./fonts/andescondensed/andes-condensed-extra_bold.eot");
  src: url("./fonts/andescondensed/andes-condensed-extra_bold.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-extra_bold.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-extra_bold.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-extra_bold.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-extra_bold.svg#andescondensedextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedextrabold_italic';
  src: url("./fonts/andescondensed/andes-condensed-extrabold_italic.eot");
  src: url("./fonts/andescondensed/andes-condensed-extrabold_italic.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-extrabold_italic.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-extrabold_italic.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-extrabold_italic.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-extrabold_italic.svg#andescondensedextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedlight';
  src: url("./fonts/andescondensed/andes-condensed-light.eot");
  src: url("./fonts/andescondensed/andes-condensed-light.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-light.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-light.svg#andescondensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedlight_italic';
  src: url("./fonts/andescondensed/andes-condensed-light_italic.eot");
  src: url("./fonts/andescondensed/andes-condensed-light_italic.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-light_italic.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-light_italic.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-light_italic.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-light_italic.svg#andescondensedlight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedsemibold';
  src: url("./fonts/andescondensed/andes-condensed-semibold.eot");
  src: url("./fonts/andescondensed/andes-condensed-semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-semibold.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-semibold.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-semibold.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-semibold.svg#andescondensedsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andescondensedsemibold_italic';
  src: url("./fonts/andescondensed/andes-condensed-semibold_italic.eot");
  src: url("./fonts/andescondensed/andes-condensed-semibold_italic.eot?#iefix") format("embedded-opentype"), url("./fonts/andescondensed/andes-condensed-semibold_italic.woff2") format("woff2"), url("./fonts/andescondensed/andes-condensed-semibold_italic.woff") format("woff"), url("./fonts/andescondensed/andes-condensed-semibold_italic.ttf") format("truetype"), url("./fonts/andescondensed/andes-condensed-semibold_italic.svg#andescondensedsemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #fff;
  font-family: "sourcesansproregular", Arial, sans-serif; }

header {
  height: 170px;
  border-top: 5px solid #ff5c39;
  background: #0d78ae; }

h2 {
  float: left;
  margin-top: 60px;
  display: block;
  border-left: #20a4cb 8px solid;
  color: #20a4cb;
  font-size: 30px;
  padding-left: 15px;
  margin-bottom: 0;
  height: auto;
  line-height: 50px; }

h3 {
  display: block;
  text-align: center;
  color: #20a4cb;
  font-size: 34px;
  margin-bottom: 30px; }

.nav-tabs {
  border-bottom: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

header {
  border-top: 5px solid #ff5c39;
  background: #0d78ae; }

/* MENU SUPERIOR*/
.menuSup {
  width: 80%;
  height: 90px;
  margin: 0 auto; }
  .menuSup li {
    display: inline-block;
    float: left;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    height: 115px;
    position: relative;
    width: 15%;
    text-align: center;
    font-family: "sourcesansproregular", Arial, sans-serif;
    font-size: 16px; }
    .menuSup li a {
      position: absolute;
      bottom: 10px;
      left: 15%;
      color: #fff;
      -ms-transform: skewX(20deg);
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      margin-left: 8%; }
  .menuSup .menuSupBlue {
    background: #1385b7; }
  .menuSup .logo {
    width: 35%;
    background: #fff; }
    .menuSup .logo a {
      margin-left: 10%; }
      .menuSup .logo a .logoEtb {
        -ms-transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg); }
  .menuSup .miEtb {
    background: #ff5c39; }
    .menuSup .miEtb span {
      width: 75px;
      display: block;
      float: left; }
  .menuSup .ingresoIcon {
    margin-left: 10px;
    margin-top: 15px; }

/* MODAL INGRESO */
.ingresoModal .modal-dialog {
  margin-top: 15%;
  margin-left: 45%; }

.ingresoModal .modal-content {
  border-bottom: 5px solid #ff5c39;
  border-radius: 0;
  width: 275px; }
  .ingresoModal .modal-content .modal-body {
    padding: 15px 15px 0 15px; }
  .ingresoModal .modal-content .closeIngreso {
    width: 30px;
    height: 30px;
    padding: 0 0 5px 0;
    background: #1385b7;
    color: #fff;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    right: -10px;
    top: -10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .ingresoModal .modal-content h1.miEtbModal {
    font-size: 18px;
    font-family: "sourcesansproregular", Arial, sans-serif;
    background: #ff5c39;
    color: #fff;
    padding: 8px 10px; }
    .ingresoModal .modal-content h1.miEtbModal i {
      margin-left: 10px; }
  .ingresoModal .modal-content .form-group .form-control {
    height: auto;
    border: none; }
    .ingresoModal .modal-content .form-group .form-control input {
      width: 100%;
      padding: 5px 10px !important;
      border: 1px solid #1385b7;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px; }
    .ingresoModal .modal-content .form-group .form-control:last-child {
      padding: 6px 0; }
  .ingresoModal .modal-content .btnIngresar {
    width: 100%;
    margin: 0 auto;
    padding: 4px;
    background: #ff5c39;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase; }
  .ingresoModal .modal-content .ingresoLinks {
    margin: 0 0 10px 10%; }
    .ingresoModal .modal-content .ingresoLinks li {
      padding: 0px 5px;
      display: inline-block; }
      .ingresoModal .modal-content .ingresoLinks li a {
        color: #1385b7;
        text-decoration: underline;
        font-size: 13px; }

/* 1200 */
@media (max-width: 1199px) {
  /* MENU SUPERIOR*/
  .menuSup {
    width: 90%; }
    .menuSup li {
      width: 15%; }
      .menuSup li a {
        left: 5%; }
  /* MODAL INGRESO */
  .ingresoModal .modal-dialog {
    margin-left: 40%; } }

@media screen and (max-width: 1199px\0) {
  /* MENU SUPERIOR*/
  .menuSup {
    width: 90%; }
    .menuSup li {
      width: 15%; }
      .menuSup li a {
        left: 5%; }
  /* MODAL INGRESO */
  .ingresoModal .modal-dialog {
    margin-left: 40%; } }

/* 992 */
@media (max-width: 991px) {
  /* MENU SUPERIOR*/
  .menuSup {
    width: 97%; }
    .menuSup li {
      width: 16%;
      text-align: left; }
      .menuSup li a {
        left: 10%; }
    .menuSup .ingresoIcon {
      margin-left: -5px; }
  /* MODAL INGRESO */
  .ingresoModal .modal-dialog {
    margin-left: 35%; } }

@media screen and (max-width: 991px\0) {
  /* MENU SUPERIOR*/
  .menuSup {
    width: 97%; }
    .menuSup li {
      width: 16%;
      text-align: left; }
      .menuSup li a {
        left: 10%; }
    .menuSup .ingresoIcon {
      margin-left: -5px; }
  /* MODAL INGRESO */
  .ingresoModal .modal-dialog {
    margin-left: 35%; } }

/* 768 */
@media (max-width: 767px) {
  header {
    border-top: 50px solid #ff5c39;
    background: #fff; }
  /* MENU SUPERIOR*/
  .menuSup {
    width: 100%;
    height: 115px;
    margin: 0 auto;
    position: relative; }
    .menuSup li {
      -ms-transform: skewX(20deg);
      -webkit-transform: skewX(20deg);
      transform: skewX(0deg); }
      .menuSup li:nth-child(-n+2) {
        display: none; }
    .menuSup .menuSupBlue, .menuSup .miEtb {
      height: auto;
      z-index: 1;
      position: absolute;
      background: none;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg); }
      .menuSup .menuSupBlue a, .menuSup .miEtb a {
        color: #fff; }
    .menuSup .menuSupBlue {
      top: -5px;
      right: 15%; }
    .menuSup .miEtb {
      width: 5%;
      right: 15px;
      top: -10px; }
      .menuSup .miEtb span {
        display: none; }
    .menuSup .logo {
      width: 100%;
      background: #fff;
      position: absolute;
      bottom: 0; }
      .menuSup .logo a {
        width: 50%;
        margin-left: 25%;
        display: block; }
        .menuSup .logo a .logoEtb {
          -ms-transform: skewX(-20deg);
          -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg); }
    .menuSup .ingresoIcon {
      margin-top: 0;
      float: right; } }

@media screen and (max-width: 767px\0) {
  header {
    border-top: 50px solid #ff5c39;
    background: #fff; }
  /* MENU SUPERIOR*/
  .menuSup {
    width: 100%;
    height: 115px;
    margin: 0 auto;
    position: relative; }
    .menuSup li {
      -ms-transform: skewX(20deg);
      -webkit-transform: skewX(20deg);
      transform: skewX(0deg); }
      .menuSup li:nth-child(-n+2) {
        display: none; }
    .menuSup .menuSupBlue, .menuSup .miEtb {
      height: auto;
      z-index: 1;
      position: absolute;
      background: none;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg); }
      .menuSup .menuSupBlue a, .menuSup .miEtb a {
        color: #fff; }
    .menuSup .menuSupBlue {
      top: -5px;
      right: 15%; }
    .menuSup .miEtb {
      width: 5%;
      right: 15px;
      top: -10px; }
      .menuSup .miEtb span {
        display: none; }
    .menuSup .logo {
      width: 100%;
      background: #fff;
      position: absolute;
      bottom: 0; }
      .menuSup .logo a {
        width: 50%;
        margin-left: 25%;
        display: block; }
        .menuSup .logo a .logoEtb {
          -ms-transform: skewX(-20deg);
          -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg); }
    .menuSup .ingresoIcon {
      margin-top: 0;
      float: right; } }

/* 468 */
@media (max-width: 479px) {
  /* MENU SUPERIOR*/
  .menuSup .menuSupBlue {
    right: 25%; }
  .menuSup .miEtb {
    right: 20px; } }

@media screen and (max-width: 479px\0) {
  /* MENU SUPERIOR*/
  .menuSup .menuSupBlue {
    right: 25%; }
  .menuSup .miEtb {
    right: 20px; } }

/* MAIN MENU */
.mainMenu {
  background: #20a4cb;
  height: 50px;
  z-index: 9999; }
  .mainMenu ul {
    overflow: hidden; }
    .mainMenu ul li {
      display: inline-block;
      text-align: center;
      padding: 0;
      font-family: "sourcesansproregular", Arial, sans-serif;
      font-size: 17px;
      z-index: 9;
      background: #20a4cb; }
      .mainMenu ul li a {
        color: #fff;
        border-radius: 0;
        height: 50px;
        line-height: 30px;
        margin: 0; }
        .mainMenu ul li a:hover {
          color: #20a4cb;
          background: #fff; }
      .mainMenu ul li:nth-child(3) {
        border-right: 1px solid rgba(255, 255, 255, 0.5); }
      .mainMenu ul li:nth-child(4) {
        border-right: 1px solid #fefefe; }
      .mainMenu ul li .searchIcon {
        float: left;
        font-size: 20px; }
      .mainMenu ul li .search_box input {
        height: 2.1875rem;
        border: #fff 1px solid;
        background: #20a4cb;
        border-radius: 3.75rem;
        padding-left: 1.25rem;
        width: 75%; }
        .mainMenu ul li .search_box input:focus {
          border: #fff 1px solid; }
      .mainMenu ul li .search_box #search_box_header::-webkit-input-placeholder {
        color: #fff; }
      .mainMenu ul li .search_box #search_box_header:-moz-placeholder {
        color: #fff; }
      .mainMenu ul li .search_box #search_box_header::-moz-placeholder {
        color: #fff; }
      .mainMenu ul li .search_box #search_box_header:-ms-input-placeholder {
        color: #fff; }
      .mainMenu ul li .level2_menu {
        background: #fff;
        padding: 0;
        width: 100%;
        display: none; }
        .mainMenu ul li .level2_menu .level2left {
          padding: 0; }
          .mainMenu ul li .level2_menu .level2left .leftMenu {
            padding-left: 0; }
            .mainMenu ul li .level2_menu .level2left .leftMenu li {
              background: #fff;
              color: #20a4cb;
              font-family: "sourcesansprobold", Arial, sans-serif;
              width: 100%;
              padding: 0;
              text-align: left; }
            .mainMenu ul li .level2_menu .level2left .leftMenu a {
              color: #ff5c39;
              font-family: "sourcesansproregular", Arial, sans-serif;
              display: block;
              width: 100%;
              text-align: left;
              padding: 15px 30px;
              line-height: 20px;
              font-size: 15px;
              height: auto; }
              .mainMenu ul li .level2_menu .level2left .leftMenu a:hover {
                background: #ff5c39;
                color: #fff;
                text-decoration: none; }
            .mainMenu ul li .level2_menu .level2left .leftMenu .subseccion {
              padding: 15px; }
      .mainMenu ul li .level2_menuMultiple {
        min-width: 800px; }
        .mainMenu ul li .level2_menuMultiple .level2left .leftMenu {
          min-height: 403px;
          border-right: 1px solid #ebebeb; }
    .mainMenu ul .fandaticos {
      text-align: right;
      padding: 10px 15px 8px 0px;
      height: 32px; }
      .mainMenu ul .fandaticos a {
        display: block;
        margin-top: -10px;
        text-align: center;
        font-size: 17px;
        line-height: 16px;
        margin-right: 35px; }
        .mainMenu ul .fandaticos a .fanComunidad {
          font-size: 12px;
          display: block;
          clear: left; }
      .mainMenu ul .fandaticos .fanComunidadIcon {
        width: 30px;
        height: 50px;
        font-size: 18px;
        display: block;
        float: right;
        color: #fff; }
    .mainMenu ul .active a, .mainMenu ul .active a:hover {
      color: #20a4cb; }

@media (max-width: 1199px) {
  .mainMenu ul li a {
    font-size: 13px; }
  .mainMenu ul li .level2_menu .level2left .leftMenu a {
    font-size: 12px; }
  .mainMenu ul .fandaticos a {
    font-size: 13px; }
    .mainMenu ul .fandaticos a .fanComunidad {
      font-size: 12px; } }

@media screen and (max-width: 1199px\0) {
  .mainMenu ul li a {
    font-size: 13px; }
  .mainMenu ul li .level2_menu .level2left .leftMenu a {
    font-size: 12px; }
  .mainMenu ul .fandaticos a {
    font-size: 13px; }
    .mainMenu ul .fandaticos a .fanComunidad {
      font-size: 12px; } }

@media (max-width: 991px) {
  .mainMenu ul li a {
    font-size: 10.5px; }
  .mainMenu ul li .level2_menu .level2left .leftMenu a {
    font-size: 10px; }
  .mainMenu ul .fandaticos a {
    font-size: 10.5px; }
    .mainMenu ul .fandaticos a .fanComunidad {
      font-size: 9.5px; } }

@media screen and (max-width: 991px\0) {
  .mainMenu ul li a {
    font-size: 10.5px; }
  .mainMenu ul li .level2_menu .level2left .leftMenu a {
    font-size: 10px; }
  .mainMenu ul .fandaticos a {
    font-size: 10.5px; }
    .mainMenu ul .fandaticos a .fanComunidad {
      font-size: 9.5px; } }

@media (max-width: 767px) {
  .mainMenu {
    display: none; } }

@media screen and (max-width: 767px\0) {
  .mainMenu {
    display: none; } }

.caja_formulario {
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  font-size: 16px;
  padding: 15px 30px;
  margin-bottom: 60px; }
  .caja_formulario .nueva_politica {
    color: #20a4cb;
    font-family: "sourcesansprobold", Arial, sans-serif; }
  .caja_formulario ul {
    list-style: none;
    padding: 0; }
    .caja_formulario ul li {
      float: left;
      margin-right: 10px; }
      .caja_formulario ul li .ordinal_politica {
        color: #20a4cb;
        margin-right: 5px;
        font-family: "sourcesansprobold", Arial, sans-serif; }
  .caja_formulario form .elemento_form {
    margin-bottom: 15px; }
    .caja_formulario form .elemento_form label {
      color: #20a4cb;
      padding-left: 0; }
    .caja_formulario form .elemento_form input {
      border: 1px solid #a9a9a9;
      border-radius: 5px; }
    .caja_formulario form .elemento_form select {
      color: #a9a9a9;
      border: 1px solid #a9a9a9;
      border-radius: 5px;
      background: transparent;
      -webkit-appearance: none;
      /*Removes default chrome and safari style*/
      -moz-appearance: none;
      /*Removes default style Firefox*/
      -webkit-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none; }
    .caja_formulario form .elemento_form select::-ms-expand {
      display: none; }
    .caja_formulario form .elemento_form .form_select {
      background: url("../img/bck_form_select.png") no-repeat right center #fff; }
      .caja_formulario form .elemento_form .form_select option[selected] {
        color: #a9a9a9; }
      .caja_formulario form .elemento_form .form_select .opcion_form {
        color: #a9a9a9; }
    .caja_formulario form .elemento_form .subelemento_form {
      padding: 0;
      padding-left: 20px; }
      .caja_formulario form .elemento_form .subelemento_form:after {
        content: ""; }
    .caja_formulario form .elemento_form .subelemento_form:first-child {
      padding-left: 0px; }
      .caja_formulario form .elemento_form .subelemento_form:first-child:after {
        content: "*";
        color: #ff5c39;
        position: absolute;
        right: -10px;
        top: 25px; }
    .caja_formulario form .elemento_form a {
      color: #20a4cb; }
    .caja_formulario form .elemento_form .captcha {
      max-width: 500px;
      height: 60px;
      background: url("../img/bck_captcha.jpg") no-repeat center center;
      background-size: contain; }
    .caja_formulario form .elemento_form .boton_naranja {
      background-color: #ff5c39;
      color: #fff;
      font-family: "sourcesansprobold", Arial, sans-serif;
      padding: 7px 15px;
      border-radius: 15px;
      border: none; }
    .caja_formulario form .elemento_form.requerido:after {
      content: "*";
      color: #ff5c39;
      position: absolute;
      right: 5px;
      top: 25px; }
    .caja_formulario form .elemento_form.contenedor_submit {
      text-align: right; }
    .caja_formulario form .elemento_form.contenedor_submit_reset_pass {
      text-align: center;
      margin: 20px 0; }
      .caja_formulario form .elemento_form.contenedor_submit_reset_pass a:hover {
        text-decoration: none; }

@media (max-width: 991px) {
  .caja_formulario form .elemento_form .subelemento_form {
    padding-left: 0; }
    .caja_formulario form .elemento_form .subelemento_form.requerido:after {
      content: "*";
      color: #ff5c39;
      position: absolute;
      right: -10px;
      top: 25px; }
  .caja_formulario form .elemento_form .subelemento_form:first-child {
    margin-bottom: 10px; } }

@media screen and (max-width: 991px\0) {
  .caja_formulario form .elemento_form .subelemento_form {
    padding-left: 0; }
    .caja_formulario form .elemento_form .subelemento_form.requerido:after {
      content: "*";
      color: #ff5c39;
      position: absolute;
      right: -10px;
      top: 25px; }
  .caja_formulario form .elemento_form .subelemento_form:first-child {
    margin-bottom: 10px; } }

.caja_error {
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  font-size: 16px;
  padding: 30px 30px;
  margin-bottom: 60px;
  text-align: center; }
  .caja_error .imagen_error {
    background: url("../img/bck_aviso_error.png") no-repeat center center;
    min-height: 97px; }
  .caja_error .mensaje {
    color: #20a4cb;
    font-family: "sourcesansproregular", Arial, sans-serif;
    display: block;
    margin: 20px 0 40px; }
  .caja_error .boton_naranja {
    background-color: #ff5c39;
    color: #fff;
    font-family: "sourcesansprobold", Arial, sans-serif;
    padding: 7px 15px;
    border-radius: 15px;
    border: none; }
  .caja_error a {
    text-decoration: none; }

/* MODAL MENSAJE ACEPTAR */
.ingresoModal .modal-dialog {
  margin-top: 15%;
  margin-left: 45%; }

.ingresoModal .modal-content {
  border-bottom: 5px solid #ff5c39;
  border-radius: 0;
  width: 275px; }
  .ingresoModal .modal-content .modal-body {
    padding: 0;
    background: #f8f8f8; }
    .ingresoModal .modal-content .modal-body .mensaje_modal {
      color: #20a4cb;
      padding: 40px;
      font-family: "sourcesansproregular", Arial, sans-serif;
      text-align: center;
      font-size: 16px; }
  .ingresoModal .modal-content h1.informacion {
    font-size: 18px;
    font-family: "sourcesansprobold", Arial, sans-serif;
    background: #fff;
    color: #20a4cb;
    padding: 8px 10px 8px 10px;
    text-align: center;
    margin-top: 0;
    -webkit-border-image: url("../img/bck_modal_flecha_inferior.png");
    -webkit-border-image-width: 0 0 21px 0;
    -webkit-border-image-repeat: stretch;
    border-image: url("../img/bck_modal_flecha_inferior.png");
    border-image-width: 0 0 21px 0;
    border-image-repeat: stretch; }
  .ingresoModal .modal-content .form-group .form-control {
    height: auto;
    border: none; }
    .ingresoModal .modal-content .form-group .form-control input {
      width: 100%;
      padding: 5px 10px !important;
      border: 1px solid #1385b7;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px; }
    .ingresoModal .modal-content .form-group .form-control:last-child {
      padding: 6px 0; }
  .ingresoModal .modal-content .btnAceptar {
    width: 50%;
    margin: 0 25% 20px;
    padding: 4px;
    background: #ff5c39;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "sourcesansprobold", Arial, sans-serif; }

footer {
  background: #f8f8f8;
  padding-top: 2.8125rem; }
  footer ul {
    list-style-type: none;
    margin-bottom: 1.25rem; }
    footer ul li {
      background: url("../img/arrow_list_footer.png") no-repeat left 0.5rem;
      text-indent: 1.5625rem; }
      footer ul li.main_option_1 a, footer ul li.main_option_2 a {
        font-family: "sourcesansprobold", Arial, sans-serif;
        margin-bottom: 0.625rem;
        display: block;
        font-size: 1.5625rem; }
      footer ul li.main_option_1 {
        background: url("../img/bck_main1_footer.png") no-repeat left center;
        text-indent: 2.5rem; }
      footer ul li.main_option_2 {
        background: url("../img/bck_main2_footer.png") no-repeat left center;
        text-indent: 2.5rem; }
      footer ul li a {
        color: #20a4cb; }
  footer .line_fandatichat .boton_fandatichat {
    background: url("../img/bck_fandatichat_footer.png") no-repeat 1.4375rem center #fa5036;
    font-size: 1.875rem;
    border-radius: 1.25rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem; }
    footer .line_fandatichat .boton_fandatichat a {
      color: #fff;
      display: block;
      margin-left: 3.75rem;
      background: #ff5c39;
      padding: 0.9375rem 1.25rem;
      margin-right: -1.5625rem;
      border-top-right-radius: 1.25rem;
      font-family: "sourcesansprobold", Arial, sans-serif; }
      footer .line_fandatichat .boton_fandatichat a span {
        float: right; }
  footer .social_footer {
    background: #ebebeb;
    padding: 0.9375rem;
    border-radius: 0.625rem; }
    footer .social_footer li {
      display: inline;
      background: none; }
      footer .social_footer li a {
        text-indent: -9999px;
        display: block;
        float: none;
        margin: 0 auto;
        background-size: cover;
        min-height: 5rem;
        max-width: 5rem;
        background-size: contain; }
        footer .social_footer li a.facebook {
          background: url("../img/bck_facebook_footer.png") no-repeat center center; }
        footer .social_footer li a.twitter {
          background: url("../img/bck_twitter_footer.png") no-repeat center center; }
        footer .social_footer li a.youtube {
          background: url("../img/bck_youtube_footer.png") no-repeat center center; }
  footer .derechos {
    text-align: center;
    background: #20a4cb;
    color: #fff;
    padding: 0.9375rem 0;
    border-top: 0.375rem solid #fa5036; }

@media (max-width: 1199px) {
  footer .line_fandatichat .boton_fandatichat {
    font-size: 1.5625rem; } }

@media screen and (max-width: 1199px\0) {
  footer .line_fandatichat .boton_fandatichat {
    font-size: 1.5625rem; } }
