

.fieldsetCapcha {
  padding: 3px 10px 10px 10px;
  margin: 11px;
  width: 410px;
  display: block;
}

.legendCaptcha {
  padding: 2px 7px;
  margin: 0;
  color: #999999;
  font-size: 13px;
}

.prompt {
  padding: 0;
  margin: 0 0 3px 0;
}

.validationDiv {
  padding: 0px 0px 5px 0px;
  margin: 8px 0px 0px 0px;
}

.correct {
  color: Green;
  font-size: 0.8em;
  font-weight: bold;
}

.incorrect {
  color: Red;
  font-size: 0.8em;
  font-weight: bold;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.note {
  margin: 10px 10px 20px 10px;
  width: 310px;
}

.note p {
  font-size: 12px;
}

.note ul {
  margin: 5px 0 5px 0; 
  padding-left: 25px; 
  list-style-type: disc;
}

.note li {
  font-size: 12px;
  margin: 0 0 5px 0;
}

.notes {
  position: absolute;
  top: 15px;
  left: 465px;
}

.h1Capcta {
  padding: 20px 0 0 10px; 
  margin: 0;
  font-size: 17px; 
	font-family: Arial;
  width: 440px;
}

.h2Catcha {
  padding: 15px 0 0 0; 
  margin: 0 0 0 10px;
  font-size: 15px; 
}

.h3Catcha {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-size: 13px;
}

.warning {
  color: Red;
}

#WidthTextBox {
  width: 30px;
}

#CodeLengthTextBox {
  width: 30px;
}

#HeightTextBox {
  width: 30px;
}

#TimeLimitTextBox {
  width: 30px;
}


.submitCaptcha {
  display: inline-block;
  width: 433px !important;
  text-align: right;
}

#systeminfo {
  width: 412px;
  margin: 25px 10px 10px 10px;
  padding: 0 10px;
  border: 1px solid #ddd;
  clear: both;
  font-size: 11px;
  color: #999;
  background-color: #f0f0f0;
}

#systeminfo  p {
  margin: 10px 0;
  padding: 0;
}